-# 新規作成フォーム
.add
  %a
    +
.new
  = form_for :loop_item, url: { action: "create" } do |f|
    .field
      %ul
        %li.label= t("Item")
        %li.text_field= f.text_field :name
    .field
      %ul
        %li.label= "Life"
        %li.number_field= f.number_field :life
    .field
      %ul
        %li.label= "Group"
        %li.select= f.select :group_id, @groups.map{ |g| [g.name, g.id] }, selected: @group_id

    .actions
      %ul
        %li.submit= f.submit( t( "menu.create", default: "Create" ), "data-disable-with" => t( "menu.create", default: "Create" ) )

-# グループ一覧
%span.button= link_to( @default_group.name, { action: "index", group_id: @default_group.id }, class: (@default_group.id.to_s == @group_id.to_s ? "choose" : "" ) )
- @groups.each do |group|
  - unless group.id == @default_group.id
    %span.button= link_to( group.name, { action: "index", group_id: group.id }, class: (group.id.to_s == @group_id.to_s ? "choose" : "" ) )

-# アイテム一覧
.loop_items
  = render :partial => 'do_now'