-# 新規作成フォーム
.add
  追加
.new_loop_item
  = form_for :loop_item, url: { action: "create" } do |f|
    .field
      %ul
        %li.label= t("Item")
        %li.text_field= f.text_field :name
    .field
      %ul
        %li.label= "Life"
        %li.number_field= f.number_field :life
    .field
      %ul
        %li.label= "Group"
        %li.select= f.select :group_id, @groups.map{ |g| [g.name, g.id] }, selected: @group_id
  
    .actions
      %ul
        %li.submit= f.submit( t( "menu.create", default: "Create" ), "data-disable-with" => t( "menu.create", default: "Create" ) )

-# グループ一覧
%span.button= link_to( @default_group.name, { action: "index", group_id: @default_group.id }, class: (@default_group.id.to_s == @group_id.to_s ? "choose" : "" ) )
- @groups.each do |group|
  - unless group.id == @default_group.id
    %span.button= link_to( group.name, { action: "index", group_id: group.id }, class: (group.id.to_s == @group_id.to_s ? "choose" : "" ) )

-# アイテム一覧
.loop_items 
  %ul
    - @loop_items.each.with_index(1) do |loop_item, index|
      %li.loop_item
        = link_to_unless( loop_item.user.try(:screen_name).blank?, image_tag( loop_item.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{loop_item.user.try(:screen_name)}", target: "_blank" )
        - if loop_item.get_rest_life > 0
          .blue.nowrap= loop_item.name
        - else
          .red.nowrap= loop_item.name
        .nowrap= link_to_unless( loop_item.group.blank?, loop_item.group.try(:name), { controller: "groups", action: "show", id: loop_item.group.try(:id) } )
        = loop_item.life
        = loop_item.last_done_at.blank? ? "" : loop_item.last_done_at.strftime("%Y/%m/%d")
        .gauge
          -# 残ライフ数分spanタグを表示 FIXME: spanタグ部分はデザイン次第で変更する 2012/06/01 Shun Matsumoto
          - 1.upto( loop_item.get_rest_life.abs ) do |index|
            %span><= Item.show_gauge( loop_item.get_rest_life )
            - if index > 0 and index % 10 == 0
              %br
        = loop_item.histories.blank? ? "" : loop_item.histories.length
        .done.button= link_to( 'Done', action: "done", id: loop_item.id, group_id: loop_item.group_id, type: params[:type] )
        .button= loop_item.is_owner?( current_user ) ? link_to( 'Edit', action: "edit", id: loop_item.id ) : ""

