
<h1>Listing groups</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each{ |group| %>
  <tr>
    <td><%= group.user_id %></td>
    <td><%= group.name %></td>
    <td><%= link_to t( "menu.show", default: "Show" ), action: "show", id: group.id %></td>
    <td><%= link_to t( "menu.edit", default: "Edit" ), action: "edit", id: group.id %></td>
    <td><%= link_to t( "menu.destroy", default: "Delete" ), { action: "destroy", id: group.id }, onclick: "return confirm('本当に削除してよろしいですか？');" %></td>
  </tr>
<% } %>
</table>

<br />

<%= link_to t( "menu.new", default: "New" ), action: "new" %>

<br />
<br />

<%= link_to t( "menu.top", default: "Top" ), :root %>
