%h1= link_to 'Listing Groups', action: "index"

-# 新規作成フォーム
.new_group
  = form_for :group, url: { action: "create" } do |f|
    .field
      %ul
        %li.label= "Group"
        %li.text_field= f.text_field :name
    .actions
      %ul
        %li.submit= f.submit( t( "menu.create", default: "Create" ), "data-disable-with" => t( "menu.create", default: "Create" ) )

.groups
  %table
    %tr
      %th Owner
      %th Name
      %th Member
      %th
      %th
      %th
      %th
      %th

    - @groups.each{ |group|
    %tr
      %td= link_to_unless( group.user.try(:screen_name).blank?, image_tag( group.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{group.user.try(:screen_name)}", target: "_blank" )
      %td= "#{group.default_flag == true ? "★" : ""} #{group.name}"
      %td
        - members = group.members.sort{ |a, b| a.created_at <=> b.created_at }
        - members.each{ |member|
        = link_to_unless( member.user.try(:screen_name).blank?, image_tag( member.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{member.user.try(:screen_name)}", target: "_blank" )
        -}
      %td.button= link_to 'Show', action: "show", id: group.id
      %td.button= link_to 'Loop', { controller: "loop_items", group_id: group.id }, target: "_blank"
      %td.button= link_to 'Limit', { controller: "limit_items", group_id: group.id }, target: "_blank"
      %td.button= group.is_owner?( current_user ) ? link_to( 'Edit', action: "edit", id: group.id ) : ""
      %td.button= group.delete_ok?( current_user ) ? link_to( "Delete", { action: "destroy", id: group.id }, confirm: "「#{group.name}」を削除します。よろしいですか？(グループを削除すると、紐付くメンバー、ループアイテムも同時に削除されます。)" ) : ""
    - }

%br/
= link_to t("Items"), { controller: "items" }
|
= link_to t( "menu.top", default: "Top" ), :root
