%nav.copy_right
  %ul.created
    %li.developed
      Developed by
      = succeed ", " do
        %a{ href: "https://twitter.com/#!/#{PROGRAMMER_NAME}/", target: "_blank"} @#{PROGRAMMER_NAME}
    %li.designed
      Designed by
      = succeed ", " do
        %a{ href: "https://twitter.com/#!/#{DESIGNER_NAME}/", target: "_blank"} @#{DESIGNER_NAME}
  %ul.copy_right
    %li.licence
      Licence by
      %a{ href: "https://creativecommons.org/licenses/by-nc-sa/2.1/jp/", target: "_blank"} CC BY-NC-SA 2.1