%header
  %h1.logo #{ link_to "#{APP_NAME}", :root }
  .wrap
    %ul
      - if current_user
        %li.item #{ link_to "Loop", controller: "loop_items" }
        %li.item #{ link_to "Group", controller: "groups" }
        %li.user
          %span.icon= link_to_unless( current_user.screen_name.blank?, image_tag( current_user.image, size: "20x20" ), "https://twitter.com/#!/#{current_user.screen_name}", target: "_blank" )
          %span.name= current_user.screen_name
