%h1= link_to 'Listing Histories', action: "index"

.histories
  %table
    %tr
      %th User
      %th Name
      %th Done at
    - @histories.each{ |history|
    %tr
      %td= link_to_unless( history.user.try(:screen_name).blank?, image_tag( history.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{history.user.try(:screen_name)}", target: "_blank" )
      %td= history.item.try(:name)
      %td= history.done_at.blank? ? "" : history.done_at.strftime("%Y/%m/%d %H:%M")
    - }

%br/
= link_to t("Items"), { controller: "items" }
|
= link_to t( "menu.top", default: "Top" ), :root
