%h1 Editing Item

-# 編集フォーム
.edit_item
  = form_for :item, url: { action: "update", id: @item.id } do |f|
    .field
      %ul
        %li.label= "Item"
        %li.text_field= f.text_field :name
    .field
      %ul
        %li.label= "Life"
        %li.number_field= f.number_field :life
    .field
      %ul
        %li.label= "Group"
        %li.select= f.select :group_id, @groups.map{ |g| [g.name, g.id] }, selected: @select_group

    .actions
      %ul
        %li.submit= f.submit t( "menu.update", default: "Update" ), disable_with: t( "menu.update", default: "Update" )

= link_to t( "menu.list", default: "List" ), action: "index"
