%h1= link_to 'Listing Archives', action: "index"

.archives
  %table
    %tr
      %th User
      %th Name
      %th Archive at
      %th

    - @items.each{ |item|
    %tr
      %td= link_to_unless( item.user.try(:screen_name).blank?, image_tag( item.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{item.user.try(:screen_name)}", target: "_blank" )
      %td= item.name
      %td= item.archive_at.blank? ? "" : item.archive_at.strftime("%Y/%m/%d %H:%M")
      %td.restore.button= link_to 'Restore', action: "restore", id: item.id
    - }

%br/
= link_to "Items", { controller: "items" }
|
= link_to t( "menu.top", default: "Top" ), :root
